<div class="w-11/12 m-auto flex justify-between pt-10 border-t border-t-red-400 px-16">
    <div class="flex flex-col gap-7">
        <div class="flex items-center gap-8">
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="56" height="56" rx="3" fill="#FF4F5A"/>
                <rect x="21" y="14" width="29.75" height="7" fill="white"/>
                <rect x="21" y="26.25" width="29.75" height="7" fill="white"/>
                <rect x="21" y="38.5" width="29.75" height="7" fill="white"/>
                </svg>
                <p class="text-xl w-3/5 font-bold cursor-pointer">
                    Lets change your habit join with milion peopleS
                </p>
        </div>

            <div>
                <h3 class="text-lg font-bold cursor-pointer">NS Tech Company</h3>
                <p class="text-lg text-gray-600 cursor-pointer">Tbilisi, Georgia</p>
            </div>
    </div>
    <div class="flex gap-16">
        <div class="flex flex-col gap-3">
            <h4 class="text-2xl font-bold my-color cursor-default">Features</h4>
            <div class="flex flex-col gap-2 text-xl text-gray-600">
                <a href="#">Lorem</a>
                <a href="#">Ipsum</a>
                <a href="#">Sit</a>
                <a href="#">Dolor</a>
            </div>
        </div>
        <div class="flex flex-col gap-3">
            <h4 class="text-2xl font-bold my-color cursor-default">Pricing</h4>
            <div class="flex flex-col gap-2 text-xl text-gray-600">
                <a href="#">Lorem</a>
                <a href="#">Ipsum</a>
                <a href="#">Sit</a>
                <a href="#">Dolor</a>
            </div>
        </div>
    </div>
</div>

