@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
 
* {
    box-sizing: border-box;
}


.my-color {
    color: #FF4F5A;
}

.my-bg {
    background-color: #FF4F5A;
}

.my-bg1{
    background: #FF4F5A ;
}